<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel='stylesheet' id='opensans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans&#038;ver=4.0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='josefinslab-css'  href='http://fonts.googleapis.com/css?family=Josefin+Slab%3A600&#038;ver=4.0.1' type='text/css' media='all' />

        <!-- Production -->
        <link rel="stylesheet" type="text/css" href="/static/compiled.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!-- END Production -->

        <title>{% if page.title %} {{ page.title }} {% else %} Walter Dal Mut {% endif %}</title>

    </head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="site-title text-center"><a style="color: #333" href="/">Walter Dal Mut</a></h1>
            <h2 class="site-description">When the music's over turn out the lights</h2>
        </div>
        {{ content }}
    </div>

    <!-- Production -->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- END Production -->

    <!-- Development -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- END Development -->
</body>
</html>

